<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type = "text/css" href="/views/style.css">
    <link rel="shortcut icon" type="image/png" href="/views/alarmClockFavicon.png"/>
    <title>Error</title>
</head>
<body>
    <div class="mainContainer">
        <h1>Bzzt! Error!</h1>
        <br>
        Something went wrong here. Ask James to check it out.
    </div>
</body>
</html>